.BuildControls {
  width: 100%;
  background-color: brown;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px grey;
  margin: auto;
  padding: 10px 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.BuildControls p {
  color: aliceblue;
  font-size: 25px;
}

.OrderButton {
  background-color: brown;
  color: white;
  outline: none;
  cursor: pointer;
  border: 1px solid white;
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px brown;
}

.OrderButton:hover, .OrderButton:active {
  background-color: gold;
  color: brown;
  border: 1px solid gray;
}

.OrderButton:disabled {
  background-color: dimgray;
  cursor: not-allowed;
  border: 1px solid aliceblue;
  color: aliceblue;
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
      transform: scale(1);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}