.BuildController {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildController button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid aliceblue;
  cursor: pointer;
  outline: none;
}

.BuildController button:disabled {
  background-color: yellow;
  border: 1px solid #7E7365;
  color: #ccc;
  cursor: default;
}

.BuildController button:hover:disabled {
  background-color: yellow;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  color: aliceblue;
  text-align: center;
  width: 80px;
}

.BuildController .Less {  
  background-color: gold;
  color: brown;
}

.BuildController .More {
  background-color: gold;
  color: brown;
}

.BuildController .Less:hover, .BuildController .Less:active {  
  background-color: green;
  color: white;
}

.BuildController .More:hover,.BuildController .More:active {
  background-color: green;
  color: white;
}